public net.minecraft.world.entity.Entity setLevel(Lnet/minecraft/world/level/Level;)V
# whsfjaefaw
public net.minecraft.world.entity.item.ItemEntity age

public net.minecraft.client.renderer.blockentity.SignRenderer font
public net.minecraft.client.renderer.blockentity.SignRenderer getTextOffset()Lnet/minecraft/world/phys/Vec3;
public net.minecraft.client.renderer.blockentity.SignRenderer renderSign(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IILnet/minecraft/world/level/block/state/properties/WoodType;Lnet/minecraft/client/model/Model;)V
public net.minecraft.client.renderer.blockentity.SignRenderer renderSignModel(Lcom/mojang/blaze3d/vertex/PoseStack;IILnet/minecraft/client/model/Model;Lcom/mojang/blaze3d/vertex/VertexConsumer;)V
public net.minecraft.client.renderer.blockentity.SignRenderer renderSignText(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/entity/SignText;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IIIZ)V
public net.minecraft.client.renderer.blockentity.SignRenderer translateSignText(Lcom/mojang/blaze3d/vertex/PoseStack;ZLnet/minecraft/world/phys/Vec3;)V
public net.minecraft.client.renderer.blockentity.SignRenderer isOutlineVisible(Lnet/minecraft/core/BlockPos;I)Z
public net.minecraft.client.renderer.blockentity.HangingSignRenderer getTextOffset()Lnet/minecraft/world/phys/Vec3;
public net.minecraft.client.renderer.blockentity.HangingSignRenderer renderSignModel(Lcom/mojang/blaze3d/vertex/PoseStack;IILnet/minecraft/client/model/Model;Lcom/mojang/blaze3d/vertex/VertexConsumer;)V

# we replace this
public net.minecraft.world.inventory.AbstractContainerMenu addSlot(Lnet/minecraft/world/inventory/Slot;)Lnet/minecraft/world/inventory/Slot;